.thead{
    th{
        font-weight: normal;
        flex: 1;
        color: #758696;
        &:nth-child(1){
            text-align: left;
        }
        &:nth-child(2){
            text-align: center;
        }
        &:nth-child(3){
            text-align: right;
        }
    }
}
