.common_footer {
  height: 200px;
  background: #1a1c24;
  color: #fff;
  padding-top: 40px;
  position: relative;
}
.c_footer_t .c_footer_t_l {
  float: left;
  font-size: 12px;
}
.c_footer_t .c_footer_t_l dl {
  float: left;
  margin-right: 88px;
}
.c_footer_t .c_footer_t_l dl a {
  color: #758696;
}
.c_footer_t .c_footer_t_l dt {
  margin-bottom: 20px;
}
.c_footer_t .c_footer_t_l dd {
  margin-bottom: 15px;
}
.c_footer_t .c_footer_t_r {
  float: right;
}
.c_footer_t .c_footer_t_r a {
  background-color: #252732;
  width: 135px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  margin-left: 10px;
  color: #fff;
}
.c_footer_t .c_footer_t_r a span {
  vertical-align: middle;
}
.c_footer_t .c_footer_t_r .c_footer_t_icon {
  font-size: 18px;
  padding-right: 5px;
}
.c_footer_b {
  position: absolute;
  bottom: 0;
  background: #292d39;
  width: 100%;
}
.c_footer_b p {
  color: #758696;
  font-size: 12px;
  line-height: 30px;
}
