.common_header {
  height: 58px;
  transition: 0.5s;
  overflow: hidden;
  font-size: 16px;
  line-height: 58px;
  background: #ccc;
}
.common_header li {
  float: left;
  cursor: pointer;
}
.common_header .header_l {
  float: left;
  position: relative;
}
.common_header .header_l img {
  height: 26px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.common_header .header_l ul {
  padding-left: 142px;
  margin: 0;
}
.common_header .header_l li {
  margin: 0 20px;
}
.common_header .header_r {
  float: right;
}
.common_header .header_r li {
  float: left;
}
.common_header .header_r span {
  margin: 0 12px;
}
.index_header {
  composes: common_header;
}
.login_header {
  composes: common_header;
  background: skyblue;
}
.register_header {
  composes: common_header;
  background: red;
}
