.index_main {
  height: 2000px;
  background: #f0f2f5;
}
.index_main a {
  text-decoration: none;
}
.index_main .card_body {
  margin: 30px 0 20px;
}
.index_main .card_body .card_body_ll {
  float: left;
}
.index_main .card_body .card_body_lr {
  float: right;
}
.index_main .card_body li {
  width: 45%;
  padding: 24px;
  border: 1px solid #e8e8e8;
  background: #fff;
  box-sizing: content-box;
}
.index_main .card_body_t span {
  font-size: 14px;
  color: #343b4c;
}
.index_main .card_body_t em {
  font-size: 12px;
  color: #fff;
  background: #00bc9b;
  padding: 2px 10px;
  float: right;
}
.index_main .card_body_b {
  margin-top: 12px;
}
.index_main .card_body_b span {
  font-size: 24px;
  font-weight: 700;
  color: #00bc9b;
}
.index_main .card_body_b em {
  float: right;
  color: #758696;
  font-size: 12px;
  margin-top: 12px;
}
.index_main .tab_box .tab_box_t {
  background: #f7f9fa;
}
.index_main .tab_box .tab_box_t .active {
  border-top: 3px solid #17a7f3;
  background: #fff;
  color: #17a7f3;
}
.index_main .tab_box .tab_box_t ul {
  margin: 0;
}
.index_main .tab_box .tab_box_t li {
  float: left;
  line-height: 62px;
  color: #545c70;
  font-size: 14px;
  border-right: 1px solid #ebeff2;
  border-top: 3px solid transparent;
  padding: 0 30px;
  cursor: pointer;
}
.index_main .tab_box .tab_box_t li span {
  vertical-align: middle;
  margin-left: 5px;
}
.index_main .tab_box .tab_box_t img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.index_main .tab_box .tab_box_b table {
  width: 100%;
  text-align: center;
}
