.ctoc_history_entrust {
  background: #343b4c;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 566px;
  min-height: 266px;
}
.ctoc_buy_sell {
  margin-top: 3px;
  box-sizing: border-box;
  width: 566px;
}
.ctoc_buy_sell .form_container {
  display: flex;
  justify-content: space-between;
  -webkit-display: flex;
  -webkit-justify-content: space-between;
  background: #252732;
}
.ctoc_buy_sell .form_container .form_item {
  padding: 0 19px;
  flex: 1;
}
.ctoc_buy_sell .form_container .form_item:nth-child(1) {
  border-right: 1px solid #343b4c;
}
.ctoc_buy_sell .form_container .form_item .title {
  margin-top: 15px;
  margin-bottom: 9px;
  font-size: 14px;
}
.ctoc_buy_sell .form_container .form_item .title em {
  color: #d8dfe6;
  font-weight: bold;
}
.ctoc_buy_sell .form_container .form_item .title span {
  color: #758696;
  float: right;
}
.ctoc_buy_sell .form_container .form_item .title i {
  color: #d8dfe6;
}
.ctoc_buy_sell .form_container .form_item .input {
  margin-bottom: 10px;
  position: relative;
}
.ctoc_buy_sell .form_container .form_item .input .slider {
  display: inline-block;
  width: 80%;
}
.ctoc_buy_sell .form_container .form_item .input > span {
  display: inline-block;
  color: #758696;
  width: 20%;
}
.ctoc_buy_sell .form_container .form_item .input input {
  width: 80%;
  display: inline-block;
  background: #343b4c;
  border: 0;
  color: #d8dfe6;
}
.ctoc_buy_sell .form_container .form_item .input em {
  color: #d8dfe6;
}
.ctoc_buy_sell .form_container .form_item .input i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #758696;
}
.ctoc_buy_sell .form_container .form_item .slider_box {
  margin-bottom: 20px;
}
.ctoc_buy_sell .form_container .form_item .submit {
  margin-bottom: 11px;
}
.ctoc_buy_sell .form_container .form_item .submit input {
  width: 100%;
  line-height: 32px;
  color: #fff;
  border: 0;
  outline: none;
}
.ctoc_buy_sell .form_container .form_item .submit .bg_color1 {
  background: #00bc9b;
}
.ctoc_buy_sell .form_container .form_item .submit .bg_color2 {
  background: #ff486a;
}
